
/* these styles are for the demo, but are not required for the plugin */
.zoom {
		display:inline-block;
		position: relative;
		}


/* magnifying glass icon */
.zoom:after {
		content:'';
		
		width:25px; 
		height:20px; 
		position:absolute; 
		top:0;
		left:80px;
		background:url(../img/ic_zoom_in_black_24dp_1x.png);
		}

		
.zoom img {
			display: block;
		}
